<article class="flex flex-col gap-1">
    <h1 class="text-xl hover:underline"> 
        <a href=" {{ .Permalink }} ">
            <span 
                class="w-4 h-4 stroke-2" 
                style="display: inline-block; vertical-align: middle; margin-bottom: 0.2em;"
            >
                {{ partial "handler/svg" "arrow-right" }}
            </span>
            &nbsp;{{ .Title }}
        </a>
    </h1>
    <div class="text-gray-600">
    {{ if .Params.description }}
        {{ .Params.description }}    
    {{ else if .Summary  }}
        {{ .Summary }}
    {{ end }}
    </div>
</article>