<script>
    console.log(
        `     _______________________________________
    |  | | | |  |  | | | | | |  |  | | | |  |
    |  | | | |  |  | | | | | |  |  | | | |  |
    |  | | | |  |  | | | | | |  |  | | | |  |
    |  |_| |_|  |  |_| |_| |_|  |  |_| |_|  |
    |   |   |   |   |   |   |   |   |   |   |
    |   |   |   |   |   |   |   |   |   |   |
    |___|___|___|___|___|___|___|___|___|___|

      🎶 Sing to the Lord a new song, 
           for He has done marvelous things!`
    )
</script>